.order__items{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.order__img{
    width: 35px;
    height: 30px;
    border-radius: 20px;
}
.order__item__title{
    font-size: 11px;
    font-weight: 400;
}
.order__item__quantity{
    font-size: 10px;
}
.order__price{
    font-size: 11px;
}
.order--title{
    display: flex;
    flex-direction: column;
    line-height: 0;
    align-items: center;
}
.btn__items{
    margin: 2px;
    cursor: pointer;
}
.order__delete{
    font-size: 11px;
    color: red;
    cursor: pointer;
}
